In [5]:
import numpy as np 
import pandas as pd 
pd.options.display.float_format = "{:,.2f}".format
import seaborn as sns
import matplotlib.pyplot as plt
import sqlalchemy as db

In [14]:
# Importing files with pandas

storebranch = pd.read_csv('storebranch.csv')
shoppers = pd.read_csv('shoppers.csv')
orders = pd.read_csv('orders.csv')
order_product=pd.read_csv('order_product.csv')

### Data inspection: storebranch

In [4]:
storebranch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   store_branch_id  113 non-null    object
 1   store            113 non-null    object
 2   lat              113 non-null    float64
 3   lng              113 non-null    float64
dtypes: float64(2), object(2)
memory usage: 3.7+ KB

In [10]:
storebranch.shape

(113, 4)

In [6]:
storebranch.head()

,store_branch_id,store,lat,lng
0,cf0895f1e3beb8164f0a86e6f940ae56,c0b93cf93cf854981b8d6bd849eec4b0,18.16,-100.26
1,3ddd4c29cab4178d89d549c6ba65c236,044d56734d20e04984d846dade6d39f3,18.27,-100.32
2,e9763f24fd46d0b9e52d423207a87c3c,452ae015bf846e1d2932b7ea15720d64,18.27,-100.32
3,49b7d60d6095a9f1129ce798102b62f4,6447951cd071f6f045fd4e6194920926,18.25,-100.40
4,8f21cfda17b340aeee062220d0bee8e5,452ae015bf846e1d2932b7ea15720d64,18.20,-100.30

In [7]:
storebranch[storebranch.duplicated()]

# no duplicates

Empty DataFrame
Columns: [store_branch_id, store, lat, lng]
Index: []

### Data inspection: shoppers

In [16]:
shoppers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   shopper_id     600 non-null    object
 1   seniority      600 non-null    object
 2   found_rate     564 non-null    float64
 3   picking_speed  600 non-null    float64
 4   accepted_rate  594 non-null    float64
 5   rating         566 non-null    float64
dtypes: float64(4), object(2)
memory usage: 28.2+ KB

In [21]:
shoppers.shape # some nulls

(600, 6)

In [27]:
shoppers.head()

,shopper_id,seniority,found_rate,picking_speed,accepted_rate,rating
0,087ab65ceca40dbef697f585dc159d5d,ADVANCED,0.86,1.64,1.00,4.48
1,645973c41314d763b58dc2bceeeeffc9,INTERMEDIATE,0.83,2.83,0.96,4.79
2,82810715fdda44962e7e422015ea1f32,ADVANCED,0.87,1.27,0.88,4.84
3,416aa7dbd5a2f58d7bca96657e8faa1e,INTERMEDIATE,0.88,2.11,1.00,NaN
4,27a3e845a4c3eb7ded4748f84140a843,ADVANCED,0.85,1.50,1.00,4.84

In [22]:
shoppers[shoppers.duplicated()] # no duplicates

Empty DataFrame
Columns: [shopper_id, seniority, found_rate, picking_speed, accepted_rate, rating]
Index: []

### Data inspection: orders

In [23]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7295 entries, 0 to 7294
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_id         7295 non-null   object
 1   lat              7295 non-null   float64
 2   lng              7295 non-null   float64
 3   dow              7295 non-null   int64
 4   promised_time    7295 non-null   object
 5   actual_time      7295 non-null   object
 6   on_demand        7295 non-null   bool
 7   picker_id        7295 non-null   object
 8   driver_id        7295 non-null   object
 9   store_branch_id  7295 non-null   object
 10  total_minutes    6543 non-null   float64
dtypes: bool(1), float64(3), int64(1), object(6)
memory usage: 577.2+ KB

In [24]:
orders.shape #some nulls in total_minutes

(7295, 11)

In [28]:
orders.head()

,order_id,lat,lng,dow,promised_time,actual_time,on_demand,picker_id,driver_id,store_branch_id,total_minutes
0,6abd5e28d01b7c733fe37485294235dc,18.22,-100.31,2,13:00:00,12:00:15,False,09bb5bfe76adbb474dddbdd111a51623,09bb5bfe76adbb474dddbdd111a51623,0dc6fb5924a8b917bc641666ed02663c,91.80
1,0d37a1eea001f01b40232ffd496ff663,18.18,-100.36,2,13:00:00,10:28:10,False,c4c722114a82fa21654e57e9636d68b0,c4c722114a82fa21654e57e9636d68b0,2bbf833e689d24b697f1f3529c3f3c4b,206.60
2,528428e9b9eb5d3bd0dbdd8da692b087,18.27,-100.32,2,11:00:00,10:40:50,False,e15c7a67d0ea9a54dffb410bc1d8528b,e15c7a67d0ea9a54dffb410bc1d8528b,8d891dfc0e29d744c15c18adced74a68,93.46
3,d3f7be6d64eae7405b7bf024e04807a2,18.25,-100.32,2,10:00:00,09:41:47,False,d1f0bd4b237c1358f09db22076b940e7,d1f0bd4b237c1358f09db22076b940e7,0dc6fb5924a8b917bc641666ed02663c,124.78
4,e0ad6533b6cd9a382ec6c1d473c5036c,18.23,-100.32,2,11:00:00,10:07:53,False,06a71e8ab0c6db5ce22a4689fd76a3f4,06a71e8ab0c6db5ce22a4689fd76a3f4,afd0a7b8d546fcc697bb93a5934b65c3,130.32

In [25]:
orders[orders.duplicated()] # no duplicates

Empty DataFrame
Columns: [order_id, lat, lng, dow, promised_time, actual_time, on_demand, picker_id, driver_id, store_branch_id, total_minutes]
Index: []

### Data inspection: order_product

In [19]:
order_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120876 entries, 0 to 120875
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   order_id        120876 non-null  object
 1   product_id      120876 non-null  object
 2   quantity        120876 non-null  float64
 3   quantity_found  120876 non-null  float64
 4   buy_unit        120876 non-null  object
dtypes: float64(2), object(3)
memory usage: 4.6+ MB

In [26]:
order_product.shape # no nulls

(120876, 5)

In [29]:
order_product.head()

,order_id,product_id,quantity,quantity_found,buy_unit
0,bdfc44fb525986b7bab8c589fc47e853,ab9757d9892b0e83ab3a1c1af0c84c52,0.75,0.15,KG
1,bdfc44fb525986b7bab8c589fc47e853,f1f042251bf634d44f338fbaf13b16e4,0.30,0.40,KG
2,bdfc44fb525986b7bab8c589fc47e853,0630d47440965509b0b3f80fd1b3578f,1.00,1.00,UN
3,bdfc44fb525986b7bab8c589fc47e853,9dd69b1f300666d5573e3a9934f2e03e,2.00,2.00,UN
4,bdfc44fb525986b7bab8c589fc47e853,3dfcdbe308bde67370649dd875f2507b,1.00,1.00,UN

In [35]:
order_product[order_product.duplicated()] # huh, 3 duplicates..

Empty DataFrame
Columns: [order_id, product_id, quantity, quantity_found, buy_unit]
Index: []

In [34]:
order_product = order_product.drop_duplicates() #cleaned

## Preparing SQL ingestion

In [ ]:
db_server='pymysql'
user='root'
db_port = '3306'
password = 'password'
ip = '127.0.0.1'
db_name = 'cornershop' # schema do sql check
engine = db.create_engine(f'mysql+{db_server}://{user}:{password}@{ip}:{db_port}/{db_name}?charset=utf8')
conn = engine.connect()

In [ ]:
storebranch.to_sql('storebranch', conn, if_exists='replace', index=False)

In [ ]:
shoppers.to_sql('shoppers', conn, if_exists='replace', index=False)

In [ ]:
orders.to_sql('orders', conn, if_exists='replace', index=False)

In [ ]:
order_product.to_sql('order_product', conn, if_exists='replace', index=False)